* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#login {
    background-color: aliceblue;
}
#signup {
    background-color: #b92b27;
    color: azure;
}
h1, h3 {
    color: #b92b27;
}

.upvote {
    background-color: green;
    color: azure;
}
#myId p{
    color: green;
}
.post a{
    color: blueviolet;
}
nav ul li a {
    color: darkkhaki;
}
p+h3 {
    text-decoration: none;
}
.upvote + button {
    color: azure;
    background-color: blue;
}
div > input{
    background-color: mediumpurple;
    
}
input[type="text"]{
    color: hotpink;
}
input[type="password"]{
    color: crimson
}
input[type]{
    background-color: aliceblue;
}
/* hover */
h3:hover {
    text-decoration: underline;
}
button:hover{
    background-color: black;
}
/* active */
p:active{
    font-weight: bold;
}
/* checked */
input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}
/* nth-of-type */
div:nth-of-type(3){
    background-color: cornflowerblue;
}
input:is(:-webkit-autofill, :autofill) {
    border: 3px solid darkorange;
  }

  /* default  */
input:default {
    box-shadow: 0 0 2px 1px coral;
  }
  
input:default + label {
    color: coral;
  }
  /* disabled */
:disabled + label{
    color: dimgray;
  }
  /* first-letter */
h1::first-letter{
    color: aquamarine;
  }
  /* first-line */
.paraDetails::first-line{
    background-color: darkgray;
  }
  /* selection */
.paraDetails::selection{
    background-color: lemonchiffon;
}