.divContainer {
    height: 300px;
    width: 600px;
    background-color: rgb(132, 132, 34);
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 100px 100px 100px;
}
.item {
    width: 100px;
    height: 50px;
    background-color: cadetblue;
    border: 2px solid black;
    text-align: center;

}